extends reactjs

snippet irn "Import items from react-native with semicolon"
import {$1} from 'react-native'${2:;}
endsnippet

snippet rns "import {StyleSheet} from 'react-native'"
import {StyleSheet} from 'react-native'${2:;}

export default StyleSheet.create({$1})$2
endsnippet
